/* デザイン定数 */
:root{
    /* レスポンシブの切り換えサイズ */
    --resp-small: 820px;

    /* 色の設定 */
    --caption-bg-color: #2980b9;
    --caption-button-color: #3990C9;
    --caption-text-color: #fcfcfc;
    --caption-hover-color: #49a0c9;
    --sidebar-bg-color: #343131;
    --sidebar-selected-menu-bg-color: #fcfcfc;
    --menu-text-color: #404040;
    --reload-backcolor: rgba(255,255,255,0.7);

    /* アイコンサイズ */
    --header-icon-size: 42px;
    --header-height: calc(var(--header-icon-size) + 2px);
    
    /* アイコン定義 */
    --reload-gif: url(img/712-24.gif);
}

html{
    font-size: 16px;
    height: 100%;
}

body{
    font-family: Lato,proxima-nova,"Helvetica Neue",Arial,sans-serif
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

div{/*
        border-style: solid; 
        border-width: thin;
        background-color: rgba(50, 50, 50, 0.2); 
    */
}

table{
    width: 100%;
    overflow: scroll;
}

#loading{
    z-index: 10000; /* 一番手前 */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: var(--reload-gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--reload-backcolor);
    visibility: hidden;
}

.eyecache .row{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 3px;
}

.eyecache-input{
    color: var(--sidebar-bg-color);
}

.row div{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* ヘッダー領域の描画 */
.content.header{
    display: none;
}
@media screen and (max-width: 820px){
    .content.header{
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: var(--header-height);
        background-color: var(--caption-bg-color);
        color: var(--catpion-text-color);
        vertical-align: middle;
    }
}

.content.header div{
    height: var(--header-height);
    color: var(--caption-text-color);
    vertical-align: middle;
}

.humbergerForm{
    position: absolute;
    padding-top: 0;
    width: var(--header-icon-size);
    padding-top: 0;
}

#headerLogin{
    padding-right: 0.5em;
    float: right;
    height: var(--header-height);
}

.humberger{
    pointer-events: absolute;
    height: var(--header-icon-size);
    width: var(--header-icon-size);
    background-image: url('img/kkrn_icon_menu_11.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    float:left;
}

.humberger:hover{
    background-color: var(--caption-hover-color);
    filter: brightness(1) invert(0);
}

.title{
    font-weight: 700;
}

.content.body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@media screen and (max-width: 820px){
    .content.body{
        position: absolute;
        top: var(--header-height);
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
    }
}

/* 左サイドバー */
.content.left {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: var(--sidebar-bg-color);
    color: var(--caption-text-color);
}
@media screen and (max-width: 820px){
    .content.left {
        height: inherit;
        top: var(--header-height);
        bottom: 0;
        z-index: 100;
        display: none;
    }

    .content.left[opened='true']{
        width: 75%;
        display: inherit;
    }
}

.content.left div{
    color: var(--caption-text-color);
    text-decoration: none;
}

li {
    list-style-type: none;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e1e4e5;
    margin: 1px 0;
    padding: 0;
}

.menuTitle{
    display: table-row;
    font-weight: 600;
    color:  var(--caption-bg-color);
}

.nav{
    font-size: 90%;
}

.nav a{
    display: block;
    text-decoration: none;
    color: var(--caption-text-color);
}

.nav .menus{
    margin: 0.3em 0;
    padding: 0;
}

.nav .menus a{
    padding: 0.4em 0 0.4em 1.5em;
}

.nav .menus .subMenu a{
    padding: 0.4em 0 0.4em 3em;
}

.nav .menus[current="true"]{
    background-color: #e3e3e3;
    color: var(--menu-text-color);
    font-weight: 600;
}

.nav .menus[current="true"] .menuItem{
    background-color: var(--sidebar-selected-menu-bg-color);
    color: var(--menu-text-color);
}

.nav .subMenu .subMenuItem{
    color: var(--menu-text-color);
    font-weight: 400;
}

.nav .subMenu[current="true"] .subMenuItem{
    color: var(--menu-text-color);
    background-color: #c9c9c9;
    font-weight: 600;
}

.content.footer{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    background:  var(--caption-bg-color);
    left: 0;
    right: 0;
}

/* 中央のコンテンツ */
.content.center{
    position: absolute;
    left: 300px;
    right: 0;
    overflow: auto;
    height: 100%;
}
@media screen and (max-width: 820px){
    .content.center{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: inherit;
    }
}

.right{
}

.document_path{
    padding: 0.5em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 34px;
}
@media screen and (max-width: 820px){
    .document_path{
        position: relative;
        height: inherit;
    }
}

.content.center .footer{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:32px;
    padding: 0 0.5em;
}
@media screen and (max-width: 820px){
    .content.center .footer{
        position: relative;
        bottom:inherit;
        left:inherit;
        right:inherit;
        height:inherit;
        padding: inherit;
    }
}

.content.center .mainPanel {
    padding: 1em;
    position: absolute;
    width: 100%;
    top: 34px;
    bottom: 34px;
    overflow: auto;
}
@media screen and (max-width: 820px){
    .content.center .mainPanel {
        bottom: inherit;
        top: inherit;
        bottom: inherit;
        position: relative;
    }
}

.code {
    margin: 0.5em 0;
    width: 100%;
    height: 15em;
}


.signControlPanel{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.signControlPanel label{
    padding: 0 0.5em;
}

.eyecache{
    background:  var(--caption-bg-color);
    padding: .809em;
    color: var(--caption-text-color);
    padding-bottom: 1em;
}

.eyecache input{
    width: 90%;
    border-width: 0;
    border-radius: 1em;
    padding: 0.4em 1.2em;
}

.eyecache a{
    display: inline-block;
    text-decoration: none;
}

.title_link{
    display: inline;
    position: relative;
    text-align: center;
}


.title_link *{
}

.title{
    text-align: center;
    padding-bottom: 3px;
    vertical-align: middle;
}

.icon_home{
    height: 1em;
    display: inline;
}

.searchPanel{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding-top: 3px;
}


.wicket-onelogin{
    display: table-cell;
    text-align: center;
}

button{
    margin: 0 0.2em;
    padding:0 0.5em;
    color: var(--caption-text-color);
    background-color: var(--caption-button-color);
    border-style: none;
    border-width: 0;
    border-radius: 3px;
}

.table{
    max-width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0.3em;
}

.tablerow{
    display: table-row;
}


.tablecell{
    display: table-cell;
    padding: 0.3em;
    margin: 1em;
    border-bottom: 1px solid #e1e4e5;
    word-break: break-all;
}

.tablecell.caption{
    font-weight: 600;
    background-color: #e1e4e5;
    min-width: 20%;
}


.wicket-onelogin button{
    font-size: 0.7em;
}

.subPanelTitle{
    margin-top: 1em;
}

p{
    padding: 0.5em;
}

.curd.row.navi{
    text-align: right;
}

.crud.recordeditor{
    width: 100%;
}

.crud.recordeditor .table.columns{
    width: 100%;
}

.crud.recordeditor .row{
    width: 100%;
    vertical-align: middle;
    min-height: 2em;
}

.crud.recordeditor .row div{
    display: inline-block;
    width: 100%;
}

.crud.recordeditor .row div div{
    width: inherit;
}
.crud.recordeditor .row div wicket{
    display: inherit;
    width: 100%;
}

.crud.recordeditor .field.caption{
    display: inline-table;
    vertical-align: middle;
    padding-right: 1em;
    text-align: right;
    height: 100%;
    width: 25%;
}

.crud.recordeditor .field.edit{
    vertical-align: middle;
    min-width: 50%;
    min-height: 2em;
    padding-left: 3pt;
    padding-right: 3pt;
}

.crud.recordeditor .field.edit.textarea{
    height: 6em;
}

.crud.recordeditor .submitbuttons{
    text-align: center;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.crud.recordeditor .submitbuttons div{
    display: inline-block;
    position: relative;
}

.crud.recordeditor .submitbuttons .buttons_left{
    text-align: left;
    width: 50%;
    float: left;
}

.crud.recordeditor .submitbuttons .buttons_right{
    text-align: right;
    width: 50%;
    float: right;
}

.crud.recordeditor .submitbuttons input[type='button']{
    padding: 4px 12px;
    color: var(--caption-text-color);
    background-color: var(--caption-button-color);
    border-radius: 3px;
    border-style:none;
}

.curd.recordeditor .row div div{
    width: inherit;
}

.curd.tableview .rows{
    border-collapse: collapse;
}

.crud.tableview .rows:hover{
    background-color: silver;
}

.crud.tableview .column {
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    border-collapse: collapse;
    border-radius: 2px;
}

.crud.tableview .column span{
    display: inline-block;
    width: 100%;
    padding: 0.1em 1em;
}

.crudTableInfoBar{
    display: block;
}

.crudTableInfoBar .captionItem{
    display: inline-block;
}

.crudTableInfoBar .captionItem.caption{
    width: 75%;
}

.crudTableInfoBar .captionItem.controller{
    width: 24%;
    text-align: right;
}

.crudTableInfoBar .captionItem .panelButton{
    background-color: var(--caption-button-color);
    border-width: 0;
    padding: 0.2em 0.2em;
    border-radius: 3px;
    color: var(--caption-text-color);
}

.genericTableEditView .tableEditor{
    position: relative;
    float: left;
    width: 69%;
    overflow: scroll;
}

.genericTableEditView .tableSelector{
    font-size: 0.8em;
    font-weight: bolder;
    position: relative;
    float: right;
    width: 30%;
    overflow: scroll;
}

.genericTableEditView .tableSelector table{
    background-color: rgb(250, 250, 250);
}

.genericTableEditView .tableSelector .csvTransportPanel{
    display: none;
}

.genericTableEditView .tableSelector .rows{
    background-color: white;
}

