html{
    font-size: 16px;
    height: 100%;
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

div{
    /*    border-style: solid; 
        border-width: thin;
        background-color: rgba(50, 50, 50, 0.2); */
}

.eyecache .row{
    display: table;
    text-align: center;
    width: 100%;
}

.row div{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.content.header{
    display: none;
}

.content.header div{
}

.title{
    font-weight: 700;
}

.content.body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content.left{
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #343131;
}

.nav{
}

.content.footer{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    background: #2980b9;
    left: 0;
    right: 0;
}


.content.left div{
    color: white;
}

.content.center{
    position: absolute;
    left: 300px;
    right: 0;
    height: 100%;
}

.content.right{
}

.humberger{
    pointer-events: absolute;
    height: 32px;
    width: 32px;
    background-image: url('img/kkrn_icon_menu_11.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}

.humberger:hover{
    background-color: #49a0c9;
    filter: brightness(1) invert(0);
}

.signControlPanel{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.signControlPanel label{
    padding: 0 0.5em;
}

.eyecache{
    background: #2980b9;
    padding: .809em;
    color: #fcfcfc;
    padding-bottom: 1em;
}

.eyecache input{
    width: 75%;
    border-width: 0;
    border-radius: 1em;
    padding: 0.4em 1.2em;
}

.eyecache a{
    text-decoration: none;
}

.title_link{
    display: inline;
    position: relative;
    text-align: center;
}


.title_link *{
}

.title{
    text-align: center;
    padding-bottom: 3px;
    vertical-align: middle;
}

.icon_home{
    height: 1.2em;
    vertical-align: top;
}

.searchPanel{
    text-align: center;
    vertical-align: middle;
}

.wicket-onelogin{
    display: table-cell;
    text-align: center;
}

button{
    margin: 0 0.2em;
    padding:0 0.5em;
    color: #fcfcfc;
    background-color: #3990C9;
    border-style: none;
    border-width: 0;
    border-radius: 3px;
}

.wicket-onelogin button{
    font-size: 0.7em;
}

.wicket-onelogin.panel *{
}

.wicket-onelogin.panel label{
}

