html{
    font-size: 16px;
    height: 100%;
}

body{
    font-family: Lato,proxima-nova,"Helvetica Neue",Arial,sans-serif
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

div{
    /*    border-style: solid; 
        border-width: thin;
        background-color: rgba(50, 50, 50, 0.2); */
}

.eyecache .row{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 3px;
}

.eyecache-input{
    color: #343131;
}

.row div{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.content.header{
    display: none;
}

.content.header div{
}

.title{
    font-weight: 700;
}

.content.body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content.left {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #343131;
    color: #fcfcfc;
}

.content.left div{
    color: #fcfcfc;
    text-decoration: none;
}

li {
    list-style-type: none;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e1e4e5;
    margin: 1px 0;
    padding: 0;
}

.menuTitle{
    display: table-row;
    font-weight: 600;
    color: #2980b9;
}

.nav{
    font-size: 90%;
}

.nav a{
    display: block;
    text-decoration: none;
    color: #fcfcfc;
}

.nav .menus{
    margin: 0.3em 0;
    padding: 0;
}

.nav .menus a{
    padding: 0.4em 0 0.4em 1.5em;
}

.nav .menus .subMenu a{
    padding: 0.4em 0 0.4em 3em;
}

.nav .menus[current="true"]{
    background-color: #e3e3e3;
    color: #404040;
    font-weight: 600;
}

.nav .menus[current="true"] .menuItem{
    background-color: white;
    color: #404040;
}

.nav .subMenu .subMenuItem{
    color: #404040;
    font-weight: 400;
}

.nav .subMenu[current="true"] .subMenuItem{
    color: #404040;
    background-color: #c9c9c9;
    font-weight: 600;
}

.content.footer{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    background: #2980b9;
    left: 0;
    right: 0;
}

.content.center{
    position: absolute;
    left: 300px;
    right: 0;
    height: 100%;
}

.content.right{
}

.content.center{
    overflow: auto;
}

.document_path{
    padding: 0.5em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 34px;
}

.content.center .footer{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:32px;
    padding: 0 0.5em;
}

.content.center .mainPanel {    
    padding: 1em;
    position: absolute;
    width: 100%;
    top: 34px;
    bottom: 34px;
    overflow: auto;
}

.code {
    margin: 0.5em 0;
    width: 100%;
    height: 15em;
}

.humberger{
    pointer-events: absolute;
    height: 32px;
    width: 32px;
    background-image: url('img/kkrn_icon_menu_11.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}

.humberger:hover{
    background-color: #49a0c9;
    filter: brightness(1) invert(0);
}

.signControlPanel{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.signControlPanel label{
    padding: 0 0.5em;
}

.eyecache{
    background: #2980b9;
    padding: .809em;
    color: #fcfcfc;
    padding-bottom: 1em;
}

.eyecache input{
    width: 90%;
    border-width: 0;
    border-radius: 1em;
    padding: 0.4em 1.2em;
}

.eyecache a{
    display: inline-block;
    text-decoration: none;
}

.title_link{
    display: inline;
    position: relative;
    text-align: center;
}


.title_link *{
}

.title{
    text-align: center;
    padding-bottom: 3px;
    vertical-align: middle;
}

.icon_home{
    height: 1em;
    display: inline;
}

.searchPanel{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding-top: 3px;
}


.wicket-onelogin{
    display: table-cell;
    text-align: center;
}

button{
    margin: 0 0.2em;
    padding:0 0.5em;
    color: #fcfcfc;
    background-color: #3990C9;
    border-style: none;
    border-width: 0;
    border-radius: 3px;
}

.table{
    max-width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0.3em;
}

.tablerow{
    display: table-row;
}


.tablecell{
    display: table-cell;
    padding: 0.3em;
    margin: 1em;
    border-bottom: 1px solid #e1e4e5;
    word-break: break-all;
}

.tablecell.caption{
    font-weight: 600;
    background-color: #e1e4e5;
    min-width: 20%;
}

.wicket-onelogin button{
    font-size: 0.7em;
}

.subPanelTitle{
    margin-top: 1em;
}
 
p{
    padding: 0.5em;
}

